* {
    font-family: 'Caladea', serif;
    font-size: 16px;
    color: rgb(83, 83, 83);
}

body {
    background-color: rgb(238, 236, 236);
}

.container {
    min-height: 100vh;
    background-color: #3C4C59;
}

.chalkboard {
    background-image: url("../images/chalkboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bow {
    height: 200px;
    border: none;
    padding: 0;
    position: relative;
    margin-left: -400px;
    box-shadow: none;
}

.mainTitle {
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444;
    color: whitesmoke;
    font-size: 5rem;
    height: 100px;
    position: absolute;
    margin-top: 4.75rem;
}

a img {
    height: 40px;
    width: 80px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    position: absolute;
    margin-left: -185px;
    margin-top: -3px;
}

a img:hover {
    height: 41px;
    width: 82px;
}

a img:active {
    height: 40px;
    width: 80px;
}

hr {
    border-color: whitesmoke !important;
}

h4 {
    color: whitesmoke;
    text-shadow: 0px 1px 0px #999;
}

::placeholder {
    color: lightgrey !important;
}

img {
    border: 1px solid;
    padding: 10px;
    color: rgb(238, 236, 236);
    box-shadow: 8px -4px 10px 2px rgb(25, 25, 25);
}

.rating {
    margin: 0 auto;
    margin-bottom: 1.2rem;
    margin-top: -1px;
    text-align: center;
    border: 1px solid;
    color: rgb(238, 236, 236);
    box-shadow: 8px 3px 10px 2px rgb(25, 25, 25);
}

@media (min-width: 415px) and (max-width: 768px) {

    .bow {
        height: 150px;
        margin-left: -310px;
    }

    .mainTitle {
        font-size: 4rem;
        margin-top: 60px;
    }

    a img {
        height: 35px;
        width: 70px;
        margin-left: -148px;
        margin-top: 2px;
    }
}

@media (min-width: 320px) and (max-width: 414px) {

    .bow {
        height: 100px;
        margin-left: -165px;
    }

    .mainTitle {
        font-size: 2rem;
        margin-top: 50px;
    }

    a img {
        height: 30px;
        width: 60px;
        margin-left: -105px;
        margin-top: 3px;
    }

    h4 {
        font-size: 1.25rem;
    }
}